<a href="https://colab.research.google.com/github/sujeengim/ALGORITHM/blob/main/02_1_list_and_tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# total9
print('학생 그룹 점수의 합계와 평균을 구합니다.')

score1 = int(input('1번 학생의 점수를 입력하세요.: '))
score2 = int(input('2번 학생의 점수를 입력하세요.: '))
score3 = int(input('3번 학생의 점수를 입력하세요.: '))
score4 = int(input('4번 학생의 점수를 입력하세요.: '))
score5 = int(input('5번 학생의 점수를 입력하세요.: '))

total = 0
total += score1
total += score2
total += score3
total += score4
total += score5

print(f'합계는 {total}점입니다.')
print(f'평균은 {total / 5}점입니다.')

학생 그룹 점수의 합계와 평균을 구합니다.
1번 학생의 점수를 입력하세요.: 32
2번 학생의 점수를 입력하세요.: 54
3번 학생의 점수를 입력하세요.: 68
4번 학생의 점수를 입력하세요.: 72
5번 학생의 점수를 입력하세요.: 54
합계는 280점입니다.
평균은 56.0점입니다.

- 사용되는 데이터 수가 변경될 경우
- 각 데이터 값 조회 및 수정
- 각 데이터의 연산 기능

을 위해 구조 재배치 => 배열

In [ ]:
#list test
list01 = []
list02 = [1,2,3]
list03 = ['A','B','C']

list04 = list()
list05 = list('ABC')
list06 = list([1,2,3])
list07 = list((1,2,3))
list08 = list({1,2,3})

list09 = list(range(7))
list10 = list(range(3,8))
list11 = list(range(3,13,2))
list12 = [None] * 5

list13 = [None] * 5

In [ ]:
# tuple test
tuple01 = ()
tuple02 = 1,
tuple03 = (1,)
tuple04 = 1,2,3
tuple05 = 1,2,3,
tuple06 = (1,2,3)
tuple07 = (1,2,3,)
tuple08 = 'A','B','C',

# 튜플 아님
v01 = 1
v02 = (1) #그냥 숫자 1

tuple09 = tuple()
tuple10 = tuple('ABC')
tuple11 = tuple([1,2,3])
tuple12 = tuple((1,2,3))
tuple13 = tuple({1,2,3})
tuple14 = tuple(range(7))
tuple15 = tuple(range(3,8))
tuple16 = tuple(range(3,13,2)) #step

# 인덱스

In [ ]:
x = [11, 22, 33, 44, 55, 66, 77]
x[2] #33
x[-3] #55
x[-4] =3.14 #44-> 3.14

## 인덱싱과 슬라이싱
- 인덱싱은 해당 원소의 **값**
- 슬라이싱은 해당 범위의 원소 **리스트**
- 슬라이싱은 유효 인덱스의 범위를 초과해도 오류가 발생하지 않는다.

# 슬라이싱

s[-n:] : 맨끝(오른쪽)부터 n개 출력

In [ ]:
s = [11,22,33,44,55,66,77]
s[0:6] #[11~66]
s[0:7] #[11~77]
s[0:7:2] #[11,33,55,77]
s[-4:-2] #[44,55]
s[3:1] #1이 3보다 작지만 오류 발생하지 않고 [] 반환
s[3:1:-1] #[44,33] => 역순으로 출력하고 싶으면 이렇게

[44, 33]

## 언팩unpack
- 리스트나 튜플의 원솟값을 풀어 여러 변수에 대입
- 좌변에 여러 개의 변수를 놓고 우변에 리스트나
튜플을 놓으면, 우변의 원소를 좌변의 변수에
한 번에 대입 가능

In [ ]:
x = [1,2,3]
a,b,c = x
print(a,b,c)

1 2 3

In [ ]:
x = (1,2,3)
a,b,c = x
print(a,b,c)

1 2 3

In [ ]:
c = [1,2,3,4,5,6,7]
c[0:1]
# 값이 하나여도 리스트로 반환

[1]

## 변수의 대입
- 변수의 값을 변경하게 되면 해당객체의 값이 변경되는 것이 아닌 가리키는 객체가 달라진다. (== id가 달라진다)
- 대입기호 (=)는 연산자가 아닌 명령문이다 -> 연산자처럼 사용 불가

In [ ]:
n = 5
id(n)

10750984

In [ ]:
n = n+1
id(n)

10751016

In [ ]:
n = 'ABC'
id(n)

10149472

In [ ]:
# 불가능
# type(x = 17)

# 배열의 대소 판단
- 맨 앞 원소부터 차례로 비교하면서 원소 값이 같으면 다음 원소를 비교
- 배열의 원소 수가 다른 경우, 원소 수가 많은 배열을 크다고 판단

In [ ]:
# 빈배열
if x:
    print('비어있지 않음')
else:
    print('비어있음')

## 값 비교
- ==(등가성) : 좌변과 우변의 값이 같은지

=> 값이 같다는건 객체가 같다는 것 아닌가?

아니다. 왜냐면 리스트나 딕셔너리 같은 가변 객체는 새로운 값을 할당할 때마다 새로운 객체를 만들기 때문이다.

- is(동일성) : 좌변과 우변의 값이 같은지 비교함과 동시에 두 객체의 식별 번호가 같은지 비교

In [ ]:
[1,2,3] == [1,2,3]

True

In [ ]:
[1,2,3] < [1,2,4]

True

In [ ]:
[1,2,3,4] <= [1,2,3,4]

True

In [ ]:
[1,2,3] < [1,2,3,5]

True

In [ ]:
[1,2,3] < [1,2,3,5] <[1,2,3,5,6]

True

# 내포 표기 생성
리스트 안에서 for, if 문을 사용하여 새로운 리스트를 생성하는 기법

In [ ]:
numbers = [1,2,3,4,5]
twise = [num*2 for num in numbers if num%2 == 1 ]
# number에서 1, 3, 5 선택됨
print(twise)

[2, 6, 10]